*.pyc
*__pycache__
.DS_Store

# PyPI
build/*
dist/*
.idea/

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*egg-info
*.egg-info/
*.egg

Coloring/storage/
!Coloring/storage/easy/plot.ipynb

# generated latex files that can be ignored 
Thesis/text/indent.log
Thesis/text/main.aux
Thesis/text/main.bbl
Thesis/text/main.blg
Thesis/text/main.fdb_latexmk
Thesis/text/main.fls
Thesis/text/main.lof
Thesis/text/main.log
Thesis/text/main.synctex.gz
Thesis/text/main.toc
Thesis/text/main.lol
Thesis/text/main.lot
Thesis/text/main.out
Thesis/text/main.tex.utf8
